 body {
    margin: 0;
    background: rgb(6, 33, 43);
    font-family: Arial, sans-serif;
    text-align: center;
     background-size: cover;  
}


#game {
    width:900px;
    height: 600px;
    overflow: hidden;
    position:relative;
    margin: 45px auto;
    background-image: url("./background.png");
    /* background-size: contain; */

    border: 4px solid #3e0715;
    box-shadow: 0 0 90px #7c1831, 0 0 100px #710f29;
    border-radius: 2px;
      z-index: 2;
}

#score {
    position: absolute;
    top: 10px;
    right: 20px;
    color: rgb(232, 16, 16);
    font-size: 28px;
    z-index: 999;
    display: none;
    font-family: 'Silkscreen';
    text-shadow: 0 0 20px rgb(229, 165, 165);
}



#startBtn {
    z-index: 100;         
    color: white;
    background-color: rgb(65, 13, 13);
    padding: 18px 28px;
    font-size: 20px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
     box-shadow: 0 0 15px #880929;
    transition: 0.25s;
    margin-bottom: 10px;
    font-family: 'Silkscreen';
}


#startBtn:hover {
    box-shadow: 0 0 25px #ffffff, 0 0 50px #b7123e;
    transform: scale(1.1);
    background: #6e0521;
}



#gifBackground {
    position: fixed;
    inset: 0;                 
    background: url("bat.gif");
    background-size: cover;
    z-index: 1;
    transition: filter 0.5s ease;  
}


#menuContainer{
   position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 1000;
    pointer-events: auto;
}

#skinMenuBtn {
    color:#ffffff;
    background-color: rgb(65, 13, 13);
    padding: 18px 28px;
    font-size: 20px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
     box-shadow: 0 0 15px #880929;
    cursor: pointer;
    transition: 0.3s;
    font-family: 'Silkscreen';
}



#skinMenuBtn:hover {
   box-shadow: 0 0 25px #ffffff, 0 0 50px #b7123e;
    transform: scale(1.1);
    background: #6e0521;
}

#skinModal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.85);
    z-index: 200;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Silkscreen';
}

.modal-content {
    background: #350c16;
    padding: 40px;
    border: 3px solid #7c1831;
    border-radius: 20px;
    text-align: center;
}

.skin-grid {
    display: flex;
    gap: 35px;
    margin-bottom: 30px;
}

.skin-card {
    border: 2px solid #5a192a;
    padding: 15px;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.2s;
    background: #21060d;
    width: 100px;
}

.skin-card img {
    width: 88px;
    height: 85px;
    object-fit: contain;
    transform: 0.2;
}

.skin-card p {
    color: rgb(252, 251, 251);
    margin-top: 10px;
    font-size: 14px;
}

.skin-card:hover {
    transform: translateY(-2px);
    border-color: #991b36;
}

.skin-card.active {
    border-color: #3b0a17;
    box-shadow: 0 0 50px #c70f40;
    background: #4c0d1c;
    transform: scale(1.2);
}

#closeModal {
    background: none;
    border: 2px solid rgb(72, 21, 21);
    color: rgb(255, 254, 254);
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 13px;
    font-family: 'Silkscreen';
}


#game-title{
    position: absolute;
    top: 50px;         
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Silkscreen', system-ui;
    font-size: 120px;   
    color: #dc0e0e;     
    z-index: 100;        
    margin: 0;
    white-space: nowrap; 
    text-shadow: 
        0 0 15px #722121, 
        0 0 30px #0f0202,
        10px 10px 19px #310707;
        
    letter-spacing: 10px;
    user-select: none;   
}


@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(0px, 0px) rotate(0deg); }
}

.crash-shake {
    animation: shake 0.4s; 
    animation-iteration-count: 1;
}

#musicBtn {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 16px;
    font-family: "Silkscreen";
    font-size: 14px;
    background: #26040b;
    color: #fdf6f6;
    border: 2px solid #d61111;
    border-radius: 8px;
    cursor: pointer;
    z-index: 10;
}

#musicBtn:hover {
    box-shadow: 0 0 20px #d61111;
}



