 body {
    margin: 0;
    background: rgb(6, 33, 43);
    font-family: Arial, sans-serif;
    text-align: center;
}

#game {
    width:900px;
    height: 600px;
    overflow: hidden;
    position:relative;
    border: 2px solid rgb(0, 0, 0);
    margin: 45px auto;
    background-image: url("./background.png");
    /* background-size: contain; */
}

#score {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}
